params {
    config_profile_description = ''
    config_profile_contact = ''
    config_profile_url = ''
    genome = 'GRCh38'
}

process {
    executor = 'local'
    max_memory = '100 GB'
    max_cpus = '8'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = '/path/to/images/raredisease_images/'
}

process {
    withName('DEEPVARIANT') {
        cpus   = { check_max(16 * task.attempt, 'cpus') }
        memory = { check_max(80.GB * task.attempt, 'memory') }
    }
    withName('QUALIMAP_BAMQC') {
        cpus   = { check_max(16 * task.attempt, 'cpus') }
        memory = { check_max(80.GB * task.attempt, 'memory') }
    }
    withName('PICARD_MARKDUPLICATES') {
        cpus   = { check_max(16 * task.attempt, 'cpus') }
        memory = { check_max(90.GB * task.attempt, 'memory') }
    }
    withName: ('PICARD_COLLECTHSMETRICS') {
        memory = 90.GB
    }
    withName('GENMOD_SCORE') {
        cpus   = 16
        memory = 90.GB
        label = "high"
    }
}
